.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 8rem;
  box-shadow: 0 1px 3px -2px #000000;
  width: 100%;
  
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 15%;
}

.nav-logo p {
  color: #171717;
  font-size: 20px;
  font-weight: 600;
}
.nav-menu {
  display: flex;
  width: 70%;
  text-align: center;
  justify-content: center;
}
.nav-menu .menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 50px;
  color: #626262;
  font-size: 18px;
  font-weight: 400;
}

.menu-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.menu-list li:hover {
  border-bottom: solid 4px #ff4141;
  padding-bottom: 0.5rem;
}

.active:active {
    border-bottom: solid 4px #ff4141;
    padding-bottom: 0.5rem;
  }

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}

.login-btn {
  width: 60%;
  color: #515151;
  border: 1px solid #7a7a7a;
  background-color: white;
  padding: 0.5rem 1rem;
  justify-content: center;
  display: flex;
  border-radius: 3rem;
  font-weight: 400;
}

.login-btn:active{
background: #f3f3f3;
}

.cart{
width: 30px;
}

.cart-counter{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -45px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color: black;
}